<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCqQbBHyvGI_BZLn-h3STM77HIDNIckptg</string>
	<key>GCM_SENDER_ID</key>
	<string>361255402270</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFirebaseNotification</string>
	<key>PROJECT_ID</key>
	<string>flutter-notification-6aeac</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-notification-6aeac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:361255402270:ios:4b97a320c27bdf5fbb670f</string>
</dict>
</plist>